body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
ul {
  list-style-type: none;
}
ul,
ol {
  padding-left: 0;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
address {
  font-style: normal;
}
.web-title {
  color: #2e2f42;
}
.studio-title {
  color: #4d5ae5;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.navigation {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav2:hover {
  color: #4d5ae5;
}
.navigation-second-a {
  color: #434455;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-second {
  margin-left: auto;
}

.navigation-second-a:hover,
.navigation-second-a:focus {
  color: #404bbf;
}

.section {
  background-color: #2e2f42;
}
.title {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.button {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  display: block;
  border: none;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.benefits {
  color: #ffffff;
}
.strategy {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #fff;
  margin-bottom: 8px;
}
.text {
  color: #434455;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  /*text-align: center;*/
}
.our-team-first {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}
.title-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;

  margin-bottom: 72px;
}
.section-footer {
  background-color: #2e2f42;
}
.studio-first {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team-card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.studio-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.footer-studio {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  width: 264px;
}
.container-header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  padding: 0 15px;

  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  gap: 40px;
  margin: 0;
}
.nav-address {
  display: flex;
  gap: 40px;
}
.section {
  padding: 188px 0;
}
.section-second {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-bottom: 24px;
}
.first {
  width: calc((100% - 3 * 24px) / 4);
}

.section-footer {
  padding: 100px 0;
}
.name {
  padding: 32px 0;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.four-section {
  padding: 120px 0 120px 0;
}
.link-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.four-section-list {
  row-gap: 48px;
}
.link-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-li:hover,
.limk-li:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.web-stdiou {
  display: inline-block;
  margin-bottom: 16px;
}
.container-header-first {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.underline {
  color: #404bbf;
}
.underline::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 48px;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;
}
.benefits-icon {
  display: flex;
}
.benefits-icon-wrap {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.socials-footer {
  gap: 16px;
}
.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-link:hover,
.social-list-item-link:focus {
  background-color: #404bbf;
}
.social-list-item-icon {
  fill: #f4f4fd;
}

.foter-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list-link {
}
.footer-container {
  display: flex;

  align-items: baseline;
}
.foter-social {
}
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image-wrap {
  position: relative;
  overflow: hidden;
}
.link-li:hover .image-wrap-text,
.link-li:focus .image-wrap-text {
  transform: translateY(0%);
}

.image-wrap-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.left-column {
  margin-right: 120px;
}
.social-list-item-footer:hover,
.social-list-item-footer:focus {
  background-color: #31d0aa;
}

/* =========== Backdrop styles =========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
/* =========== /Backdrop styles =========== */

/* =========== Modal window styles =========== */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  padding: 72px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0px;
  line-height: 0;
  stroke: #111111;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #404bbf;
  border: none;
}

/* =========== /Modal window styles =========== */

/* =========== Review form styles =========== */
.review-form-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.review-form-field-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  font-size: 12px;

  display: block;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  background-color: transparent;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-field-icon,
.review-form-input:hover + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-input:focus,
.review-form-input:hover {
  border-color: #4d5ae5;
  outline: transparent;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  stroke: #404040;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-field-icon {
  stroke: #4d5ae5;
}

.review-form-message {
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  width: 100%;
  height: 120px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-message:focus,
.review-form-message:hover {
  border-color: #4d5ae5;
  outline: transparent;
}
.modal-close-btn-icon:hover + .modal-close-btn:hover,
.modal-close-btn-icon:focus + .modal-close-btn:focus {
  fill: #fff;
}
/* {
  fill: #111111;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.review-form-checkbox-wrapper {
  margin-bottom: 40px;
}

.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  /* background-color: #fd9222; */
  fill: #ffffff;
  /* border-color: #fd9222; */
}

.review-form-privacy-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-submit-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* =========== /Review form styles =========== */
